/* FONTS */

@font-face {
    font-family: "Racing Sans One";
    src: url("../fonts/RacingSansOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}



/* HOME PAGE */

#hamburger-menu:checked ~ nav {
    display: block;
}

#hamburger-menu {
    display: none;
}

nav {
    display: none;
    font-family: "Playfair Display";
}

nav ul {
    padding: 0px;
    margin: 0px;
}

nav ul li {
    padding: 5px;
    padding-left: 0px;
}

nav ul a {
    text-decoration: none;
}

.header_image {
    background-image: url("../images/background/homepage4-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 50vh;
}

.logo_home {
    display: block;
}


.footer_desktop {
    display: none;
}

.footer_mobile { 
    background-color: #259DB7;
    display: flex;
    justify-content: space-evenly;
}

.logo_footer {
    height: 10vh;
    width: auto;
    margin: 10px;
}